<div  th:fragment="cookie-banner" id="cookie-banner" class="alert alert-dark text-center fixed-bottom hide" role="alert">
  <div class="alert-heading" style="font-size: var(--font-size-m) !important;">
    <i class="fas fa-cookie"></i> This website uses cookies.
  </div>
  <div style="font-size: var(--font-size-s) !important;">
    But only to keep technical functionalities working! <a href="/legal" style="color: var(--accent-color)"> learn more</a>
    <button type="button" class="btn btn-primary btn-sm ms-3" onclick="hideCookieBanner()">got it</button>
  </div>
</div>