:root {
    --goal-color:
            rgba(30, 127, 218, 1);
    --habit-color:
            rgba(240, 133, 34, 1);
    --light_white:
            rgba(255, 255, 255, 1);
    --darker-white:
            rgba(231, 231, 231, 1);
    --dark-grey:
            rgba(33, 35, 36, 1);
    --ligher-grey:
            rgba(44, 44, 46, 1);

    --font-size-xs: 11px;
    --font-size-s: 15px;
    --font-size-m: 20px;
    --font-size-l: 40px;
    --font-family: "Roboto";

    --background: var(--darker-white);
    --accent: var(--light_white);
    --text: var(--dark-grey);
    --outline: var(--light_white);

}
