<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>habitus</title>

    <!--external javascript imports-->
    <script type="importmap">{"imports": {"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"}}</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdb-vue-ui-kit/js/mdb.umd.min.js"></script>

    <!--external css imports-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdb-vue-ui-kit/css/mdb.min.css"/>

    <!--internal css imports-->
    <link rel="stylesheet"  th:href="/css/Style.css"></link>

</head>
<body>
<div class="container">
    <!--navbar-->
    <div th:insert="fragments/navbar :: navbar" style="margin-top: 15px"></div>

    <!--footer-->
    <div th:insert="fragments/footer :: footer" style="margin-top: 15px"></div>

    <!--cookie banner-->
    <div th:insert="fragments/cookie-banner :: cookie-banner"></div>
</div>
</body>

<!--internal javascript imports-->
<script type="module" th:src="@{/js/HabitApp.js}"></script>
<script type="module" th:src="@{/js/settingsApp.js}"></script>
<script type="text/javascript" th:src="@{/js/CookieScript.js}" defer></script>

</html>